
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  
  .swiper-button-prev,  .swiper-button-next  {
    background-color: rgba(128, 128, 128, 0.1) !important;
    padding: 1.8rem !important;
    color: white !important;
    border: 1px solid lightgray;
    border-radius: 99px;
  
  }
  
 